/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HTML and Body Styles */
html {
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: space-between; /* Adjusted to ensure footer at the bottom */
    align-items: center;
    min-height: 100vh;
    background-color: #0f172a;
    margin: 0;
    flex-direction: column; /* Adjust for vertical layout */
}

/* Container to ensure full height */
.container {
    width: 100%;
    flex: 1; /* Ensures the content takes the available space */
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}

/* Profile Styles */
.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px; /* Further reduced padding */
    margin-bottom: 5px; /* Further reduced bottom margin */
}

.profile > img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.profile > h2 {
    font-size: 1.2rem; /* Reduced font size */
    font-weight: 600;
    letter-spacing: 0.5px;
    color: #ffff;
    text-transform: capitalize;
    text-align: center;
    margin: 5px 0;
}

.profile > p {
    font-size: 1rem; /* Reduced font size */
    font-weight: 400;
    letter-spacing: 0.5px;
    color: #14b8a6;
    text-align: center;
    margin: 5px 0 10px;
}

/* Link Styles */
.link {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 5px; /* Further reduced padding */
    max-width: 500px;
    margin: 0 auto;
}


.link > a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #64748b;
    font-size: 1.3rem; /* Adjusted font size */
    border: 3px solid #ffff;
    background-color: #ffff;
    border-radius: 25px;
    margin: 8px 0; /* Reduced margin for better spacing */
    padding: 12px 25px;
    position: relative;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.5), 8px 8px 30px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

.link > a:hover {
    background-color: #dcdcdc;
    color: #000;
    transform: scale(1.05);
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.5), 6px 6px 25px rgba(0, 0, 0, 0.3);
}

.link > a .icon {
    width: 1.2em;
    height: 1.2em;
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
}

/* Social Media Icons */
.social-icons {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.social-icons a {
    margin: 0 10px;
    transition: transform 0.3s ease;
}

.social-icons a:hover {
    transform: scale(1.1);
}

.footer-icon {
    width: 25px;
    height: 25px;
}

/* Footer Styles */
.footer {
    text-align: center;
    padding: 20px;
    margin-top: 20px; /* Add margin to create space between content and footer */
}

.footer > p {
    color: #ffff;
    font-size: 1rem;
}

/* Media Queries for responsiveness */
@media (max-width: 768px) {
    .container {
        height: 100vh;
    }

    .link > a {
        font-size: 1rem; /* Reduced font size on smaller screens */
        padding: 8px 45px; /* Increase width with larger padding */
    }

    .profile > p {
        font-size: 1.4rem; /* Smaller font size for description */
    }
}

@media (max-width: 480px) {
    .link {
        max-width: 95%; /* Wider links close to screen boundary */
    }

    .link > a {
        font-size: 0.9rem; /* Further reduce font size */
        padding: 8px 40px; /* Wider links with reduced height */
    }

    .profile > p {
        font-size: 1.3rem; /* Further reduce description font size */
    }
}
